.todoForm {
    width: 70%;
    margin: auto;
    padding: 0;
    padding-top: 5vh;
}

.todoTextField {
    position: absolute;
    background-color: white;
    width: 100%;
}

.todoFormCard {
   width: 100%;
   margin: auto;
}

.todoFormCard p {
    text-align: left;
    margin-bottom: 10px;
}

.todoFormActions {
    justify-content: right;
}