html {
  margin: 0
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* sets the background */
  background: rgb(173, 236, 232);
  min-height: 100vh;
  background: linear-gradient(
    183deg,
    rgba(173, 236, 232, 1) 0%,
    rgba(0, 215, 204, 1) 22%,
    rgba(179, 59, 204, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


